# ========================
# IDE files
# ========================
.idea/
*.iml
.idea/aws.xml

# ========================
# Frontend build artifacts & temp files
# ========================
frontend/frontend-build.zip
frontend/temp_extract/
frontend/src/config.js~

# ========================
# Python virtual environment
# ========================
venv/

# ========================
# Terraform files to ignore
# ========================

# Terraform state & plan files
*.tfstate
*.tfstate.*
*.tfplan
terraform.tfvars
terraform.tfstate
terraform.tfstate.backup

# Terraform directories
.terraform/
infrastructure/.terraform/

# Backup folders (if relevant)
infrastructure_backup/

