# IDE files
.idea/aws.xml

# Frontend build artifacts
frontend/frontend-build.zip
frontend/temp_extract/
frontend/src/config.js~

# Python virtual environment
venv/

# Terraform files to ignore
infrastructure/.terraform/
infrastructure/terraform.tfstate
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*
*.tfplan
terraform.tfvars

.idea/
.idea/
.idea/
